{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        net.java.dev.jna/jna {:mvn/version "5.13.0"}
        com.rpl/specter {:mvn/version "1.1.4"}
        com.phronemophobic/clong {:mvn/version "0.9.3"
                                  ;; :local/root "../clong"
                                  }}
 :aliases
 {

  :macports
  {:jvm-opts ["-Djna.library.path=/opt/local/lib"]}

  :clerk {:extra-paths ["notebooks"]
          :extra-deps
          {io.github.nextjournal/clerk {:mvn/version "0.13.842"
                                        ;;:local/root "../clerk"
                                        }}}
  :generate-docs
  {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"
                                             ;;:local/root "../clerk"
                                             }}
   :extra-paths ["notebooks"]
   :exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["notebooks/docs.clj"]
               :out-path "docs/"
               :bundle true}}

  :project
  {:jvm-opts ["-Djna.library.path=../llvm-project/build/out/lib:/opt/local/lib"

              ;; "-Djava.library.path=../llvm-project/build/out/lib"
              ;; "-Djna.library.path=../llvm-project/build/out/lib"
              ]
   ;; /opt/local/lib:
   :extra-deps {com.phronemophobic.membrane/skialib-macosx-aarch64 { :mvn/version "0.12-beta"
                                                                 ;;:local/root "../membrane2/csource/macos-aarch64"
                                                                    }
                org.clojure/test.check {:mvn/version "1.1.1"}}}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}
                 slipset/deps-deploy {:mvn/version "RELEASE"}}
          :ns-default build}

  }}
